@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body{
   background-color: #000;
}
p{
   color: #fff;
   font-family: 'Indie Flower', serif;
}
.textBox{
    border: 1px solid white;
    width: 50%;
    margin:auto;
    top: 50%;
    transform: translateY(50%);
}
.vertWrapper{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}